{% extends 'dashboard/base.html' %}
{% block content %}

<div class="container">
    <h2></h2>
    <div class="container">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Enter New Password</legend>
            {% for fm in form %}
                <div class="form-group">
                    {{ fm.label_tag }}
                    {{ fm }}  
                    {% if fm.errors %}
                        <div class="text-danger">{{ fm.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>
          
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">
                  Change Password 
              </button>
          </div>
        </form>
</div>
{% endblock %}
