<html>
    <body>
        <h2 style="color: #333;">Hello!</h2>
        <p style="font-size: 16px; color: #555;">
            Thank you for registering with us. Your registration was successful, and now you can log in using your email.
        </p>
        <h3 style="background-color: #f1f1f1; 
                    padding: 10px; 
                    border-radius: 5px; 
                    display: inline-block; 
                    color: #28a745;">
            {{ email }}
        </h3>
        <p style="font-size: 16px; color: #555;">
            Please use the above email to log in to your account and access our services.
        </p>
        <p style="font-size: 16px; color: #555;">
            If you did not register for this account, please ignore this email.
        </p>
        <p style="font-size: 16px; color: #555;">
            Best regards,<br>
            Student Study Portal
        </p>
    </body>
</html>
